[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = release-2.28.x
[submodule "external/Jolt"]
	path = external/Jolt
	url = https://github.com/jrouwe/JoltPhysics.git
	branch = 4.x
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/FastNoise2"]
	path = external/FastNoise2
	url = https://github.com/Auburn/FastNoise2.git
[submodule "external/sol2"]
	path = external/sol2
	url = https://github.com/ThePhD/sol2.git
	branch = main
