[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = release-2.28.x
[submodule "external/Jolt"]
	path = external/Jolt
	url = https://github.com/jrouwe/JoltPhysics.git
	branch = 4.x
